@model Events.Models.EventViewModel
@{
    ViewBag.Title = "Add Shipment";
}
<script type="text/javascript">
    $(document).ready(function () {
        eventsManager.initializeEventAdd();
    });
</script>
<h1 class="addevent">Create a new shipment</h1>
<hr style="width:980px"/>
@Html.Partial("_UserDetailsView")
@using (Html.BeginForm("AddEvent", "Events", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Add Your Shipment Details</legend>
        <p style="padding-left:3px;">
            <strong>Owner: </strong>
            <input type="hidden" name="OwnerId" id="OwnerId" value="@Model.OwnerId" />
            <span id="Owner">@Model.Owner</span>
            <!--<span class="pipe"> | </span>
            <span class="browse">
                <a href="javascript:void(0)" class="browse-users blue-link browseUsersClick">Browse Users</a>
            </span>-->
        </p>
        <dl>
            <dt>
                <label>Shipment Title:</label>
            </dt>
            <dd>
                @Html.TextBoxFor(x => x.Title)
                @Html.ValidationMessageFor(x => x.Title)
            </dd>
            <dt>
                <label>Shipment Description:</label>
            </dt>
            <dd>
                @Html.TextAreaFor(x => x.Description, new { Style = "width: 505px;height: 100px;" })
                @Html.ValidationMessageFor(x => x.Description)
            </dd>
            <dt>
                <label>Departure Location:</label>
            </dt>
            <dd>
                @Html.TextBoxFor(x => x.DepartureLocation)
                @Html.ValidationMessageFor(x => x.DepartureLocation)
            </dd>
            <dt>
                <label>Arrival Location:</label>
            </dt>
            <dd>
                @Html.TextBoxFor(x => x.ArrivalLocation)
                @Html.ValidationMessageFor(x => x.ArrivalLocation)
            </dd>
            <dt>
                <label class="audience">Container Type:</label>
                <label class="datepicker">Start Date:</label>
                <label class="duration">Days:</label>
            </dt>
            <dd>
                <select id="ContainerType" name="ContainerType">
                    <option value="0">20' Dry Standard</option>
                    <option value="1">40' Dry Standard</option>
                    <option value="2">40' Dry High</option>
                    <option value="3">45' Dry High</option>
                </select>
                @Html.TextBoxFor(x => x.StartDate, new { @class = "datepicker", value = "" })
                @if (ViewBag.DateRangeError != null && ViewBag.DateRangeError)
                { 
                     <span style="float:left">   @Html.ValidationMessageFor(x => x.StartDate)</span>
                }
                else
                {
                    @Html.ValidationMessageFor(x => x.StartDate)
                }
                @Html.TextBoxFor(x => x.Days, new { @class = "duration" })
                @Html.ValidationMessageFor(x => x.Days)
                <div id="error-message-box">
                </div>
            </dd>
        </dl>
        <input type="submit" id="save" class="button button-black" value="Save" />
    </fieldset>
    @Html.Partial("_UserSelectDialog")
}